body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
  font-weight: 300;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

.page {
  background-position: center;
  background-size: cover;
}

.page__mainer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.page--fix-header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.page--bg-strawberry {
  background-image: url(../images/bg/bg-strawberry.jpg);
  height: 1000px;
}

@media screen and (max-width: 1000px) {
  .page--bg-strawberry {
    height: 600px;
    background-position: left;
  }
}

@media screen and (max-width: 700px) {
  .page--bg-strawberry {
    height: 450px;
    background-image: none;
  }
}

.page--bg-color-turquoise {
  background-color: #00b1b1;
}

.page--bg-tomatoes {
  background-color: #70bfff;
}

.page--bg-color-yellow {
  background-color: #ffe92f;
}

.page--bg-blueberries {
  background-image: url(../images/bg/bg-blueberries.jpg);
}

@media screen and (max-width: 700px) {
  .page--bg-blueberries {
    background-image: none;
  }
}

.page--bg-color-violet {
  background-color: #b07cf7;
}

.page--bg-blurred-forest {
  background-image: url(../images/bg/bg-blurred-forest.jpg);
}

.page--bg-footer {
  background-color: #262626;
}

.block-header {
  max-height: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

@media screen and (max-width: 850px) {
  .block-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.block-header__nav-toggler {
  display: none;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ff6033;
  margin: 0 auto;
  position: relative;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

@media screen and (max-width: 755px) {
  .block-header__nav-toggler {
    display: block;
    margin-bottom: 20px;
  }
}

.block-header .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.block-header__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 850px) {
  .block-header__logo {
    margin-bottom: 20px;
  }
}

.block-header__logo .block-logo {
  font-size: 50px;
  font-family: 'Pacifico';
}

@media screen and (max-width: 850px) {
  .block-header__menu {
    text-align: center;
    margin-top: -15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 755px) {
  .block-header__menu {
    display: none;
  }
}

.block-header__menu .block-menu {
  display: inline;
}

@media screen and (max-width: 755px) {
  .block-header__menu .block-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 165px;
    background-color: #ff5f33e0;
    margin: 20px 0;
    padding: 48px;
    -webkit-transition-duration: 0.6s;
            transition-duration: 0.6s;
  }
  .block-header__menu .block-menu--left {
    float: left;
  }
  .block-header__menu .block-menu--right {
    float: right;
  }
}

.block-header__menu .block-menu__link {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 17px;
  position: relative;
  display: inline-block;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  color: black;
}

.block-header__menu .block-menu__link:hover {
  color: #ff6033;
}

@media screen and (max-width: 755px) {
  .block-header__menu .block-menu__link:hover {
    color: #ffffff;
    -webkit-box-shadow: 0 0 10px 2px #ffffff;
            box-shadow: 0 0 10px 2px #ffffff;
    border-radius: 10px;
  }
}

@media screen and (max-width: 850px) {
  .block-header__menu .block-menu__link {
    padding: 10px;
  }
}

@media screen and (max-width: 755px) {
  .block-header__menu .block-menu__link {
    padding: 10px;
    color: #ffffffec;
  }
}

.block-main {
  position: absolute;
  top: 50%;
}

@media screen and (max-width: 1000px) {
  .block-main {
    top: 25%;
  }
}

@media screen and (max-width: 500px) {
  .block-main {
    margin-left: -20px;
  }
}

.block-main .info {
  width: 500px;
}

@media screen and (max-width: 700px) {
  .block-main .info {
    text-align: center;
    left: 0;
  }
}

.block-main .info__title--title-heavy {
  font-size: 60px;
  font-weight: 900;
}

@media screen and (max-width: 700px) {
  .block-main .info__title--title-heavy {
    font-size: 40px;
  }
}

.block-main .info__description {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 27px;
}

.block-main .info__description--indent {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .block-main .input-wrapper, .block-main .block-blog {
    margin: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .block-main .input-wrapper__button {
    width: 100%;
  }
}

.block-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
}

@media screen and (max-width: 1090px) {
  .block-general {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    padding-bottom: 15px;
  }
}

.block-general--content-size {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 1090px) {
  .block-general--content-size .image {
    width: 450px;
    height: 444px;
  }
}

@media screen and (max-width: 700px) {
  .block-general--content-size .image {
    display: none;
  }
}

.block-general--content-size .info {
  width: 500px;
}

@media screen and (max-width: 700px) {
  .block-general--content-size .info {
    padding-top: 20px;
  }
}

@media screen and (max-width: 560px) {
  .block-general--content-size .info {
    width: 400px;
  }
}

.block-general--content-size .info__title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.block-general--content-size .info__title--title-heavy {
  font-size: 60px;
  font-weight: 900;
}

.block-general--content-size .info__title--title-color {
  color: white;
}

@media screen and (max-width: 700px) {
  .block-general--content-size .info__title {
    font-size: 60px;
  }
}

.block-general--content-size .info__description {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 27px;
}

.block-general--content-size .info__description--indent {
  margin: 0;
}

.block-general--content-size .info__description--text-color {
  color: white;
}

.input-wrapper__button {
  width: 200px;
  height: 55px;
  background-color: #ff6033;
  color: white;
  border: transparent;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin: 20px 0 120px 0;
  -webkit-box-shadow: 0 3px 6px 0 #00000052;
          box-shadow: 0 3px 6px 0 #00000052;
}

.input-wrapper__button:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.input-wrapper__button:hover {
  -webkit-box-shadow: 0 2px 6px 0 #00000083;
          box-shadow: 0 2px 6px 0 #00000083;
  opacity: 1;
}

.block-services {
  height: 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: inherit;
      align-content: inherit;
}

@media screen and (max-width: 1050px) {
  .block-services {
    height: 600px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 900px) {
  .block-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
  }
}

.block-services .advantages {
  padding: 0 30px;
}

.block-services .advantages__link {
  width: 400px;
  height: 90px;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media screen and (max-width: 900px) {
  .block-services .advantages__link {
    width: 450px;
  }
}

@media screen and (max-width: 700px) {
  .block-services .advantages__link {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}

.block-services .advantages__link:hover {
  background-color: #cff8fa;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 700px) {
  .block-services .advantages__link:hover {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.block-services .advantages__link-item {
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.block-services .advantages__link-img {
  width: 100px;
  display: block;
}

.block-services .info {
  width: 570px;
  background-image: url(../images/bg/bg-tomatoes.jpg);
  height: 540px;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1050px) {
  .block-services .info {
    background-image: none;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .block-services .info {
    height: 150px;
    margin-top: -30px;
  }
}

.block-services .info__title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.block-services .info__title--title-color {
  color: white;
}

.block-services .info__title--position {
  position: relative;
}

@media screen and (max-width: 700px) {
  .block-services .info__title {
    font-size: 60px;
    margin: 0 auto;
  }
}

.block-gallery {
  text-align: center;
}

@media screen and (max-width: 960px) {
  .block-gallery {
    margin-bottom: -60px;
  }
}

.block-gallery .info {
  width: 570px;
}

@media screen and (max-width: 700px) {
  .block-gallery .info {
    width: 480px;
  }
}

@media screen and (max-width: 560px) {
  .block-gallery .info {
    width: 400px;
  }
}

.block-gallery .info__title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .block-gallery .info__title {
    font-size: 60px;
    margin-top: -30px;
  }
}

.block-gallery .info__description {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 27px;
}

.block-gallery .info--float {
  margin: 0 auto;
  padding-top: 65px;
  text-align: center;
}

.block-gallery .gallery-images {
  padding-bottom: 30px;
}

.block-gallery .gallery-images--size {
  width: 100%;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

.block-gallery .gallery-images--size:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 700px) {
  .block-gallery .gallery-images--size:hover {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media screen and (max-width: 700px) {
  .block-gallery .input-wrapper__button {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .block-gallery .input-wrapper__button {
    width: 100%;
  }
}

.block-gallery .input-wrapper__button-color-blue {
  background-color: #5585a2;
}

.block-subscribe {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 25px 0 0;
}

@media screen and (max-width: 700px) {
  .block-subscribe {
    width: 480px;
    text-align: center;
    height: 350px;
    margin-top: 70px;
  }
}

.block-subscribe .info {
  width: 570px;
}

@media screen and (max-width: 700px) {
  .block-subscribe .info {
    width: 480px;
    text-align: center;
    margin-left: 60px;
  }
}

@media screen and (max-width: 650px) {
  .block-subscribe .info {
    width: 400px;
    margin-left: 30px;
  }
}

.block-subscribe .info__title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.block-subscribe .info__title--title-smaller {
  font-size: 40px;
}

.block-subscribe .info__description {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 27px;
}

@media screen and (max-width: 700px) {
  .block-subscribe .input-wrapper, .block-subscribe .block-blog {
    margin: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .block-subscribe .input-wrapper, .block-subscribe .block-blog {
    margin: 0;
  }
}

.block-subscribe .input-wrapper--flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.block-subscribe .input-wrapper__subscribe {
  width: 570px;
  height: 55px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 0 15px;
  margin-right: 30px;
}

.block-subscribe .input-wrapper__subscribe:focus {
  border: 1.5px solid #545d79;
}

.block-subscribe .input-wrapper__subscribe::-webkit-input-placeholder {
  color: black;
}

@media screen and (max-width: 650px) {
  .block-subscribe .input-wrapper__subscribe {
    width: 100%;
  }
}

.block-subscribe .input-wrapper__button-color-green {
  background-color: #96b92c;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .block-subscribe .input-wrapper__button-color-green {
    margin-top: 20px;
  }
}

@media screen and (max-width: 650px) {
  .block-subscribe .input-wrapper__button-color-green {
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .block-subscribe .input-wrapper__button-color-green {
    width: 100%;
  }
}

.block-blog {
  text-align: center;
}

.block-blog .info {
  width: 570px;
}

@media screen and (max-width: 700px) {
  .block-blog .info {
    width: 480px;
  }
}

@media screen and (max-width: 560px) {
  .block-blog .info {
    width: 400px;
  }
}

.block-blog .info--float {
  margin: 0 auto;
  padding-top: 65px;
  text-align: center;
}

.block-blog .info__title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.block-blog .info__title--title-color {
  color: white;
}

@media screen and (max-width: 1200px) {
  .block-blog .info__title {
    margin-top: -40px;
  }
}

@media screen and (max-width: 700px) {
  .block-blog .info__title {
    font-size: 60px;
  }
}

.block-blog .info__description {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 27px;
}

.block-blog .info__description--text-color {
  color: white;
}

.block-blog .block-cell {
  position: relative;
  margin: 20px 0 50px 0;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .block-blog .block-cell {
    margin: 15px auto;
  }
}

.block-blog .block-cell:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 500px) {
  .block-blog .block-cell:hover {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.block-blog .block-cell--bg-smoothie {
  background-image: url(../images/pg/bg-cell-smoothie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 310px;
  width: 370px;
}

@media screen and (max-width: 500px) {
  .block-blog .block-cell--bg-smoothie {
    width: 450px;
  }
}

.block-blog .block-cell--bg-soup {
  background-image: url(../images/pg/bg-cell-soup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 310px;
  width: 370px;
}

@media screen and (max-width: 500px) {
  .block-blog .block-cell--bg-soup {
    width: 450px;
  }
}

.block-blog .block-cell--bg-raspberries {
  background-image: url(../images/pg/bg-cell-raspberries.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 310px;
  width: 370px;
}

@media screen and (max-width: 500px) {
  .block-blog .block-cell--bg-raspberries {
    width: 450px;
  }
}

.block-blog .block-cell__date {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  line-height: 30px;
  background-color: rgba(41, 40, 40, 0.514);
}

.block-blog .block-cell__date .number {
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.block-blog .block-cell__date .month {
  font-size: 21px;
  font-weight: 800;
  color: white;
}

.block-blog .block-cell__desc {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 2, 2, 0)), to(black));
  background: linear-gradient(to bottom, rgba(2, 2, 2, 0), black);
}

.block-blog .block-cell__desc .caption {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 25px;
}

.block-blog .block-cell__desc .description {
  color: white;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .block-blog .input-wrapper__button {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .block-blog .input-wrapper__button {
    width: 100%;
  }
}

.block-contact-footer .info {
  width: 570px;
}

@media screen and (max-width: 570px) {
  .block-contact-footer .info {
    width: 100%;
  }
}

.block-contact-footer .info__title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .block-contact-footer .info__title {
    font-size: 60px;
    margin-top: -30px;
  }
}

.block-contact-footer .info__description {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 27px;
}

.block-contact-footer .info--float {
  margin: 0 auto;
  padding-top: 65px;
  text-align: center;
}

.block-contact-footer .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 950px) {
  .block-contact-footer .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.block-contact-footer .section__block-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .block-contact-footer .section__block-form {
    margin: 0 auto;
    width: 100%;
  }
}

.block-contact-footer .section .contact-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 15px;
}

@media screen and (max-width: 950px) {
  .block-contact-footer .section .contact-text {
    text-align: center;
  }
}

.block-contact-footer .section .contact-text__title {
  font-size: 18px;
  font-weight: 700;
}

.block-contact-footer .section .contact-text__description {
  font-size: 18px;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .block-contact-footer .block-blog, .block-contact-footer .input-wrapper {
    width: 100%;
  }
}

.block-contact-footer .input-wrapper__form {
  width: 500px;
  height: 50px;
  padding: 0 15px;
  background-color: #00c4c4;
  color: white;
  border: none;
  border-left: 5px solid transparent;
  opacity: 0.5;
  padding: 20px 20px 20px 15px;
  margin: 8px 0;
  font-size: 15px;
  font-weight: 700;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 600px) {
  .block-contact-footer .input-wrapper__form {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.block-contact-footer .input-wrapper__form:focus {
  border-left: 5px solid #355b82;
  opacity: 1;
  color: white;
}

.block-contact-footer .input-wrapper__form:focus:invalid {
  border-left: 5px solid #ce2828;
}

.block-contact-footer .input-wrapper__form:focus .error {
  visibility: visible;
}

.block-contact-footer .block-blog .error, .block-contact-footer .input-wrapper .error {
  color: #ce2828;
  visibility: hidden;
}

@media screen and (max-width: 500px) {
  .block-contact-footer .input-wrapper__button {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 950px) {
  .block-contact-footer .input-wrapper__button {
    margin-bottom: 30px;
  }
}

.block-contact-footer .input-wrapper__button-color-turquoise {
  background-color: #00c4c4;
  opacity: 0.5;
  -webkit-box-shadow: 0 1px 5px 3px #ffffff46;
          box-shadow: 0 1px 5px 3px #ffffff46;
}

.block-contact-footer .input-wrapper__button-color-turquoise:hover {
  -webkit-box-shadow: 0 1px 5px 3px #ffffff46;
          box-shadow: 0 1px 5px 3px #ffffff46;
  opacity: 1;
}

.block-contact-footer .textarea-wrapper__form {
  width: 500px;
  min-height: 250px;
  resize: vertical;
  padding: 0 15px;
  background-color: #00c4c4;
  color: white;
  border: none;
  border-left: 5px solid transparent;
  opacity: 0.5;
  padding: 20px 20px 20px 15px;
  margin: 8px 0;
  font-size: 15px;
  font-weight: 700;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 600px) {
  .block-contact-footer .textarea-wrapper__form {
    width: 100%;
    margin: 0 auto;
  }
}

.block-contact-footer .textarea-wrapper__form:focus {
  border-left: 5px solid #355b82;
  opacity: 1;
  color: white;
}

.block-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-footer__copyright {
  font-size: 16px;
  color: #b9b9b9;
  padding: 20px 15px 20px 15px;
}

.block-footer__logo {
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  color: #b9b9b9;
  padding: 20px 15px 20px 15px;
}

.block-footer__author {
  font-size: 16px;
  color: #b9b9b9;
  padding: 20px 15px 20px 15px;
}

.block-footer__author--highlight {
  color: #f12b55;
  opacity: 1;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */